#root {
  background: rgb(247, 246, 246);
}
.App {
  width: 75%;
  margin: auto;
 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons {
  background: hsla(50, 67%, 82%, 0.121);
  font-size: 22px;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  border: none;

 
}

#buttons:hover {
  background: hsl(45, 95%, 74%);
}
.container {
  display: grid;
  width: 70%;
  background: rgba(240, 230, 177, 0.43);
  margin: auto;
  height: 1250px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px;
}

.todosCont {
  grid-column: 1/4;
  grid-row: 1/5;

  box-shadow: 0 0 0 5px hsl(0, 11%, 98%, 0.50);
  margin-top: 20px;
  margin: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos::-webkit-scrollbar {
  display: none;
}

.todos {
 
  margin-top: 20px;
 
  overflow: scroll;
  
}

li {
}
.userCont {
  grid-column: 5/6;
  grid-row: 1/10;
  box-shadow: 0 0 0 5px hsl(0, 11%, 98%, 0.50);
  margin: 10px;
  height: 900px;
  display: flex;
  flex-direction: column;
 
}

.users {
  margin: auto;
  margin-top: 20px;
  overflow: scroll;
}

.users::-webkit-scrollbar {
  display: none;
}

.emailCont {
  grid-column: 1/4;
  grid-row: 5/8;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  box-shadow: 0 0 0 5px hsl(0, 11%, 98%, 0.50);
 
}
.emails {
  margin: auto;
  overflow: scroll;
  margin-top: 20px;
}

.emails::-webkit-scrollbar {
  display: none;
}
.postCont {
  grid-column: 1/4;
  grid-row: 9/12;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
 
  box-shadow: 0 0 0 5px hsl(0, 11%, 98%, 0.50);
  
}

.posts {
  margin-top: 20px;
  overflow: scroll;

}
.posts::-webkit-scrollbar{
  display: none;
}