#root {
  background: rgb(243, 239, 239);
}
.App {
  width: 75%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons {
  background: white;
  font-size: 22px;
  border-radius: 10px;
  width: 300px;
  height: 38px;

  border: none;
}

#buttons:hover {
  background: rgb(228, 226, 226);
}
.container {
  display: grid;
  width: 70%;
  background-color: white;
  margin: auto;
  height: 90%;
  grid-template-columns: minmax(150px, 300px) minmax(150px, 300px) minmax(
      150px,
      300px
    ) minmax(150px, 300px);
}

.todosCont {
  grid-column: 1/3;

  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos::-webkit-scrollbar {
  display: none;
}

.todos {
  margin: auto;

  gap: 5px;
  overflow: scroll;
  
}

li {
  list-style: none;
}
.userCont {
  grid-column: 3/5;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users {
  margin: auto;
  overflow: scroll;
}

.users::-webkit-scrollbar {
  display: none;
}

.emailCont {
  grid-column: 1/5;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emails {
  margin: auto;
  overflow: scroll;
}

.emails::-webkit-scrollbar {
  display: none;
}
